
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
            height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);

        }


        .weather-box {
    width: 350px;
    padding: 25px;
    border-radius: 20px;


    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);


    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);


    text-align: center;
    color: #fff;
}



   input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 12px;
    font-size: 16px;
}


        button {
             width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    font-weight: 600;

        }


        button:hover {
    background: #e6e6e6;

        }

       #weatherIcon {
    width: 120px;
    display: none;
    margin: 10px auto;
}



.result p {
    margin: 6px 0;
    font-size: 18px;
}



#loader img {
    width: 45px;
}


